name: Reusable Build

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build Docker image locally
        uses: docker/build-push-action@v4
        with:
          context: ./app
          push: false      
          tags: local/devops-app:latest
